.header
	.header__top
		button.header__trigger
	nav.header__nav
		ul.header__list
			li.header__item
				a(href="https://cydstumpel.nl/").header__link Work
			li.header__item
				a(href="https://cydstumpel.nl/about-me").header__link About
			li.header__item
				a(href="https://cydstumpel.nl/contact").header__link Contact

	